.table
{
    width:70%;
    background-color: yellow;
    padding: 4px 4px;
}
/*table {*/
/*    background-color: lemonchiffon;*/
/*    padding: 4px 4px;*/
/*}*/
.th
{
    width: 70%;
    color: blue;
    text-align: left;
    background-color: chartreuse;
}
.td
{
    color: blue;
    display: block;
}
table input {
    border-color: lightgrey;
}

